.footer {
    margin: 1em 2em 0 2em;
    font-size: large;
    font-size: 1.5vw;
}

.footer> .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.footer> p {
    margin: 50px 0 10px 0;
}

.footer> .container>.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer> .container>.sections> .section {
    margin-right: 100px;
    text-transform: capitalize;
} 

.footer> .container>.sections> .section > p {
    font-weight: bolder;
}

.footer> .container> .sections > .section>.section-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer> .container> .sections > .section > .section-list> .section-list-item {
    padding: 2px 0;
    font-weight: lighter;
}

.footer> .container> .subscribe {

}


.footer> .container> .subscribe> .input {

}

.footer> .container> .subscribe> .input> .input-email {
    margin: 0 5px 0 0;
    padding: 9px;
    border: solid 1px black;
    border-radius: 3px; 
    padding: 9px;
}


.footer> .container> .subscribe> .input> .input-btn {
    background-color: #05A5EA;
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    cursor: pointer;
}

.green {
    color: rgb(23, 221, 106);
}

.red {
    color: rgb(226, 52, 21);
}


@media screen and (max-width: 960px) {
    .footer> .container {
        flex-direction: column;
        margin-bottom: 2vh;
    }

    .footer> .container> .sections {
        margin: 1em;
    }
}
