.navbar {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1em .5em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1vw;
}

.navbar .link {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

.navbar> .link> .navbar-icon {
    margin-left: .5em;
    cursor: pointer;
}

.navbar .nav-menu {
    padding: 0 1em;
}

.navbar .nav-menu  .nav-menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar .nav-menu  .nav-menu-list .nav-menu-item {
    font-size: 15pt;
    text-transform: capitalize;
    padding: 0 .5em;
}



@media only screen and (max-width: 960px) {
    .navbar> .link> .navbar-icon > img{
        padding: 1em;
        width: 70%; 
    }

    .navbar .nav-menu  .nav-menu-list .nav-menu-item{
        font-size: 12pt;
    }
}
